@font-face {
    font-family: lemonMilk;
    src: url(fonts/LemonMilk.otf);
}

body, html {
    width: 100%;
    height: 95%;
    font-family: "Montserrat", lemonMilk;
    /*font-family: lemonMilk;*/
    margin: 0;
    background-color: rgb(206, 221, 224);
    /*margin-top: 5%;*/
    /*overflow: hidden;*/
}

body {
    /*margin-bottom: 5%;*/
}

#slogan {
    width: auto;
    height: auto;
    font-size: 5vmin;
    padding: 2%;
    text-align: center;
    color: white;
    text-shadow: 2px 2px rgb(163, 180, 183);
    /*background-color: gray;*/
}

#fact-wrapper {
    /*width: 60%;*/
    /*width: 90%;*/
    width: 90%;
    max-width: 40vh;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    background-color: white;
    padding: 2%;
    border-radius: 4vmin;
    overflow: auto;
    position: relative;
}

#fact-heading {
    font-size: 4vmin;
    text-align: center;
    color: rgb(163, 180, 183);
    margin-bottom: 1vh;
}

#fact-image {
    display: block;
    /*width: 50%;*/
    width: 97%;
    /*max-width: 80%;*/
    /*max-height: 80%;*/
    /*width: auto;*/
    /*height: auto;*/
    margin-left: auto;
    margin-right: auto;
    /*height: auto;*/
}

#fact-text {
    padding: 2%;
    /*font-size: 1.8vmin;*/
    font-size: 2.5vmin;
    /*color: rgba(206, 221, 224, 100);*/
    /*color: rgb(206, 221, 224);*/
    color: rgb(163, 180, 183);
}

#refresh-button {
    border-radius: 4vmin;
    width: auto;
    display: inline-block;
    height: auto;
    background-color: rgb(206, 221, 224);
    /*float: right;*/

    position: absolute;
    bottom: 2%;
    right: 2%;

    font-size: 2vh;
    text-align: center;
    padding: 2%;
    color: white;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome and Opera */
}

#refresh-button:hover {
    background-color: rgb(163, 180, 183);
}

@media screen and (max-width: 750px) {
    body {
        /*background-color: gray;*/
    }

    #slogan {
        font-size: 6vmin;
    }

    #fact-wrapper {
        height: 90%;
        width: 90%;
        /*max-width: 90vw;*/
        position: relative;
        margin-bottom: 0;
    }

    #fact-heading {
        font-size: 4vh;
    }

    #fact-text {
        font-size: 2.7vh;
    }

    #refresh-button {
        position: absolute;
        bottom: 2%;
        right: 2%;
        /*margin-bottom: 0;*/
    }
}

@media screen and (max-width: 400px) {
    body {
        /*background-color: lightgreen;*/
    }

    #fact-heading {
        font-size: 8vmin;
    }

    #fact-image {

    }

    #fact-text {
        font-size: 2.7vh;
    }
}












